In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
states_abr=pd.read_csv('./data/L_STATE_ABR_AVIATION.csv_')
states_abr.head()

  Code      Description
0   AB  Alberta, Canada
1   AK           Alaska
2   AL          Alabama
3   AR         Arkansas
4   AZ          Arizona

In [5]:
delay_group=pd.read_csv('./data/L_ONTIME_DELAY_GROUPS.csv_')
delay_group

    Code                       Description
0     -2               Delay < -15 minutes
1     -1  Delay between -15 and -1 minutes
2      0    Delay between 0 and 14 minutes
3      1    Delay between 15 to 29 minutes
4      2    Delay between 30 to 44 minutes
5      3    Delay between 45 to 59 minutes
6      4    Delay between 60 to 74 minutes
7      5    Delay between 75 to 89 minutes
8      6   Delay between 90 to 104 minutes
9      7  Delay between 105 to 119 minutes
10     8  Delay between 120 to 134 minutes
11     9  Delay between 135 to 149 minutes
12    10  Delay between 150 to 164 minutes
13    11  Delay between 165 to 179 minutes
14    12              Delay >= 180 minutes

![distribution of the Delay Time](./data/distribution of the Delay Time.png)